#contactMeLink{
    text-decoration: none;
    color: black;
}

#contactMeLink:hover{
    color: rgb(43, 83, 247);
}

#homeHr{
    margin-bottom: 7.5%;
}

@media(min-width: 800px) { #homeHr{ margin-bottom:5%;  }}
@media(min-width: 950px) { #homeHr{ margin-bottom:4%;  }}
@media(min-width: 1100px) { #homeHr{ margin-bottom:3.5%;  }}

#downloadLink{
    text-decoration: none;
    color: black;
}

#downloadP{
    margin: 0;
}

#skillsWindow{
    padding-bottom: 2%;
}

@media(max-width: 400px) { #skillsWindow{ padding-top: 5%; padding-bottom: 0;}}

@media(max-width: 540px) {#whyWindow{
    padding-top: 12%;
    padding-bottom: 12%;
}}