#newAgeOilsLink{
    background-image: url("../images/myWork/newAgeOils.png");
    background-size: cover;
    background-position: center top; 
    filter: brightness(60%);
}

#loneSoldierLink{
    background-image: url("../images/myWork/loneSoldier.png");
    background-size: cover;
    background-position: center;
    filter: brightness(60%);

}

#bikeGuessingLink{
    background-image: url("../images/myWork/brandGuessingGame.png");
    background-size: cover;
    background-position: center bottom;
    filter: brightness(60%);
}

.workWindow{
    height: 75px;
    width: 90%;
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
    max-width: 395px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393f4d;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    text-decoration: none;
    font-size: 1.3rem;
}



@media(max-width: 550px) { .workWindow{ height: 65px; width: 100%;}}
@media(max-width: 460px) { .workWindow{ font-size: 1.2rem; }}
@media(max-width: 395px) { .workWindow{ font-size: 1.1rem; }}


/* 
.workWindowLink{
    text-decoration: none;
    color: white;
    position: absolute;
}

@media(max-width: 550px) { .workWindow {height: 65px; width: 100%;}}

.opaqueHead{
    font-size: 1.8rem;
    margin: 0;
}

@media(max-width: 1000px) { .opaqueHead{ font-size: 1.6rem }}
@media(max-width: 800px) { .opaqueHead{ font-size: 1.5rem }}
@media(max-width: 700px) { .opaqueHead{ font-size: 1.4rem }}
@media(max-width: 600px) { .opaqueHead{ font-size: 1.3rem }} */