#newAgeOilsDiv{
    background-image: url("../images/myWork/newAgeOils.png");
    background-size: cover;
    background-position: center; 
    filter: brightness(60%);
}

#loneSoldierDiv{
    background-image: url("../images/myWork/loneSoldier.png");
    background-size: cover;
    background-position: center;
    filter: brightness(60%);

}

#bikeGuessingDiv{
    background-image: url("../images/myWork/brandGuessingGame.png");
    background-size: cover;
    background-position: center;
    filter: brightness(60%);
}

#calculatorDiv{
    background-image: url("../images/myWork/calculator.png");
    background-size: cover;
    background-position: center;
    filter: brightness(60%);
}


.opaqueHead{
    font-size: 1.8rem;
    margin: 0;
}

@media(max-width: 400px) { .opaqueHead{ font-size: 1.6rem } }

#random{
    display: inline-block;
    height: 300px;
}
